.left {
  display: flex;
  /* background-color: brown; */
  flex-grow: 5;
  margin-top: 20px;
  
}
.blockTitle {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  border-left: 5px #f5c518 solid;
  color: black;
}
.blockTitle div {
  display: flex;
  align-items: center;
}
.videos {
  width: 100%;
}
.blockTitle h2 {
  color: black;
  margin: 0 20px 0 0;
  font-size: 34px;
}

.titleArrow {
  position: relative;
  left: -10px;
  width: 55px;
  height: 55px;
}
.blockTitle:hover .titleArrow {
  color:#f5c518;
}