.pageWrapper {
  display: flex;
  justify-content: center;
  background-color: lightgrey;
}
.content {
  background-color: white;
  min-width: 55%;
  min-height: 700px;
  padding: 20px;
}
.left {
  width: 650px;
}
.main {
  outline: 1px solid lightgrey;
  padding: 10px;
}
.header {
  display: flex;
  flex-direction: row;
}
.poster {
  display: flex;
  width: 70px;
  height: 100px;
  margin-right: 10px;
}
.poster img {
  width: 100%;
}
.title {
  display: flex;
}
.titleName {
  font-size: 20px;
  display: inline-block;
  margin-right: 5px;
}
.titleText span {
  font-size: 12px;
  color: black;
}
.main h2 {
  color: black;
  font-weight: normal;
}
.videosContainer {
  color: black;
  margin-top: 10px;
}
.videosContainer a {
  display: inline-block;
}
.video {
  width: 200px;
  height: 150px;
  margin: 3px 5px;
  outline: 1px solid grey;
}
.video video, .video img {
  width: 100%;
  height: 100%;
}

.seeAlso {
  outline: 1px solid lightgrey;
  margin-top: 10px;
  padding: 10px;
  border-radius: 3px;
}
.seeAlso h3 {
  color: black;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 10px;
}
.seeAlso a {
  font-size: 14px;
}