* {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --heights: 550px;
  --widths: 850px;
  --sheights: 250px;
  --swidths: 160px;

}
.sliderContainer {
  height: var(--heights);
  width: var(--widths);
  position: relative;
  overflow: hidden;
}
.active {
  display: inline-block;
}
.inactive {
  display: none
}
.slides {
  height: var(--heights);
  width: var(--widths);
  position: relative;
  
}

.slideImage {
  width: 100%;
  height: 90%;
  position: absolute;
  object-fit: fill;
  /* ??? */
  
}
.descrImg {
  display: flex;
  position: relative;
  height: var(--sheights);
  width: var(--swidths);
}
.svgContainer {
  position: absolute;
  top: 0;
  width: 40px;
  height: 56px;
}
.smallSlideImage {
  height: var(--sheights);
  width: var(--swidths);
  object-fit: fill;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}
#watchlistIcon {
  position: absolute;
  top: 0;
  left: 0;
  height: 56px;
  width: 40px;
  opacity: 0.9;
  z-index: 1;
}
#plusIcon {
  position: relative;
  top: calc(50% - 16px);
  left: calc(50% - 16px);
  width: 32px;
  height: 32px;
  z-index: 55;
}
.svgContainer:hover #watchlistIcon{
  opacity: 0.5;
}
.descrContainer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 250px;
  padding: 0 20px;
  z-index: 2;
  background: linear-gradient(to top,  rgba(0, 0, 0, 1) 40%, rgba(233, 233, 233, 0) 100%);
}
.descrText {
  display: flex;
  height: 50%;
  width: 100%;
  position: relative;
  top: 50%;
  flex-grow: 1;
  z-index: 555;
  
}
.playButtonContainer {
  display: flex;
  width: 75px;
  height: 100%;
  bottom: 0;
  margin-left: 15px;
}

#playButton {
  width: 75px;
  height: 75px;
}

.text {
  display: flex;
  height: 100%;
  flex-grow: 1;
  flex-direction: column;
  margin-left: 15px;
}
.slideTitle,
.slideText {
  width: 100%;
}
.slideTitle {
  position: relative;
  font-size: 32px;
}
.slideText {
  font-size: 22px;
  color: lightgrey;
}


.videoTime {
  position: absolute;
  bottom: 0;
  right: 0;
  color: lightgrey;
  font-size: 20px;
}