.featuredToday {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding:10px 300px 0 10px;
  margin-top: 50px;
}
h2 {
  display: inline-block;
  color: gold;
  font-size: 30px;
  margin-bottom: 20px;
}
