* {
  box-sizing: border-box;
  margin: 0;
}
.sideSliderContainer {
  display: flex;
  flex-grow: 1;
  position: relative;
  height: 550px;
  flex-direction: column;
}
.sideSliderContainer section {
  display: flex;
  flex-direction: column;
  
}
.upNext {
  margin: 0px 0px 20px 10px;
  color: gold;
  font-size: 14px;
  font-weight: bold;
}
.slides {
  display: flex;
  flex-basis: 1px;
  flex-grow: 1;
  background-color: rgb(15, 15, 15);
  margin: 5px 0 5px 20px;
}
.slideImage {
  width: 90px;
}
.inactive {
  display: none
}
.descr {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  /* background-color: red; */
  padding-left: 10px;
}
.descrBtn {
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
}

#playButton {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.descr span {
  color: grey;
  display: flex;
  justify-content: end;
}
.slideTitle {
  font-size: 18px;
}
.slideText {
  font-size: 14px;
  opacity: 0.7;

}

.browse {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 14px;
  font-weight: bold;
}
.browse a {
  color: white
}
.browse:hover a {
  color: gold
}
